
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1 class="about-title">Bienvenue au service GoPass</h1>
                    <p>Nous voulons vous simplifier votre voyage en optant pour nos services en ligne. En effet, grâce à service , paiement de manière sûre et sécurisée votre billet GoPass et partez à l'aéroport avec l'esprit allegé.</p>
                    <h4 class="mb20">Nous voulons vous faciliter le voyage comme si c'était les nôtres.</h4>
                    <div class="about-list">
                        <ul class="arrow arrow-chevron-circle-right offer-list">
                            <li>Remplissez votre identié </li>
                            <li>Votre adresse</li>
                            <li>Les infos du voyage</li>
                            <li>Nous vous guidons dans le paiement</li>
                            <li>Imprimez votre facture et rendez vous à l'aise à l'aéroport</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-img"><img src="../../../assets/images/gopass.png" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></div>
            </div>
        </div>
    </div>
</div>