
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1 class="about-title">Bienvenue au service GoPass</h1>
                    <p>Nous voulons vous simplifier votre voyage en optant pour nos services en ligne. En effet, grâce à service , paiement de manière sûre et sécurisée votre billet GoPass et partez à l'aéroport avec l'esprit allegé.</p>
                    <h4 class="mb20">We want to plan your holiday as if it were our own.</h4>
                    <div class="about-list">
                        <ul class="arrow arrow-chevron-circle-right offer-list">
                            <li>Customizable tours for newly married couple </li>
                            <li>Honeymoons trips worldwide destinations, including Europe etc.</li>
                            <li>Travel Insurance options avaliable</li>
                            <li>Corporate Travel and managments</li>
                            <li>Accomadtion in seven start Luxury Hotel</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about-img"><img src="../../../assets/images/gopass.png" alt="Tour and Travel Agency - Responsive Website Template" class="img-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="bg-default space-medium">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h1>Why Choose Our Travel Agency?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feature start -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-building"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Accommodation</h3>
                        <p>Lorem ipsum dolor sitamet consec tetur adipiscing elied rs tristi quetur etullam corper viver.</p>
                    </div>
                </div>
            </div>
            <!-- feature close -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-plane"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Transportation</h3>
                        <p>Vivamus tincidunt varius arcu vitaeli ac fringilla nioamile just oetbi once bendum dapibus. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="feature-block">
                    <div class="feature-icon"><i class="fa fa-star"></i></div>
                    <div class="feature-content">
                        <h3 class="feature-title">Easy Trip Planning</h3>
                        <p>Apretium imperdie is nullam facili sis elit velest blandit ultri ciesras atvar ac ius lorem sitamet velerat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>