<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/accueil']">Accueil</a></li>
                    <li>Identite Voyageur</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="identiteFormGroup" [editable]="isEditable">
      <form [formGroup]="identiteFormGroup">
        <ng-template matStepLabel>Identite</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom" placeholder="Nom voyageur" required>
              <mat-error>Le nom est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="numIdentite"  placeholder="Numero identite*" >
              <mat-error>Le numero d'identité est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="prenom"  placeholder="Prenom*" >
              <mat-error>Le prenom est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="postnom"  placeholder="Postnom*" >
              <mat-error>Le postnom est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="voyageFormGroup" [editable]="isEditable">
      <form [formGroup]="voyageFormGroup">
        <ng-template matStepLabel>Adresse</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Titre</mat-label>
              <input matInput formControlName="titre2" placeholder="titre*" required>
              <mat-error>Le titre est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="aute2"  placeholder="auteur*" >
              <mat-error>auteur est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="numb2"  placeholder="nombre*" >
              <mat-error>nombre est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="prc2"  placeholder="Parc*" >
              <mat-error>parc est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="AdresseFormGroup" [editable]="isEditable">
      <form [formGroup]="AdresseFormGroup">
        <ng-template matStepLabel>Lieu</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Lieu</mat-label>
              <input matInput formControlName="lieu1" placeholder="lieu*" required>
              <mat-error>Lieu est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="aute1"  placeholder="auteur*" >
              <mat-error>auteur est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="numb1"  placeholder="nombre*" >
              <mat-error>nombre est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="prc1"  placeholder="Parc*" >
              <mat-error>parc est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


