<div class="page-breadcrumb" id="apropos">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/accueil']">Accueil</a></li>
                    <li>Identite Voyageur</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Activer le mode édition' : 'Desactiver le mode édition'}}
</button>
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="identiteFormGroup" [editable]="isEditable">
      <form [formGroup]="identiteFormGroup">
        <ng-template matStepLabel>Identite du voyageur</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-select formControlName="typeIdentite" placeholder="Type pièce identité*" >
                    <ng-container >
                      <mat-option value="C">Carte d'électeur</mat-option>
                      <mat-option value="P">Passeport</mat-option>
                    </ng-container>
                  </mat-select>
                  <mat-error>Type d'identité est obligatoire.</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="numIdentite"  placeholder="Numero pièce identite" required>
              <mat-error>numero d'identité est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
                  <input matInput formControlName="dateDelivIdentite" [matDatepicker]="myDatepicker" placeholder="Date delivrance*" />
                  <mat-datepicker-toggle matSuffix [for] = "myDatepicker" placeholder="mm/dd/yyyy"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                  <mat-error>Le date est obligatoire.</mat-error>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="organeDelivIdentite"  placeholder="Organisme ayant délivré la pièce d’identité">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Nom</mat-label>
              <input matInput formControlName="nom" placeholder="Nom voyageur" required>
              <mat-error>Le nom est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="prenom"  placeholder="Prenom" required >
              <mat-error>Le prenom est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="postnom"  placeholder="Postnom" >
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="adresseFormGroup" [editable]="isEditable">
      <form [formGroup]="adresseFormGroup">
        <ng-template matStepLabel>Adresse du voyageur</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Lieu de naissance</mat-label>
              <input matInput formControlName="lieunaiss" placeholder="Lieu de naissance*" required>
              <mat-error>Lieu de naissance est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="datenaiss" [matDatepicker]="myDatenaiss" placeholder="Date de naissance*" />
                <mat-datepicker-toggle matSuffix [for] = "myDatenaiss" placeholder="mm/dd/yyyy"></mat-datepicker-toggle>
                <mat-datepicker #myDatenaiss></mat-datepicker>
                <mat-error>Le date est obligatoire.</mat-error>
            </mat-form-field>
        </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Adresse de residence/séjour</mat-label>
              <input matInput formControlName="adresse"  placeholder="Adresse de residence/séjour" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="commune"  placeholder="Commune de résidence/séjour" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="ville"  placeholder="Ville de résidence/séjour" >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="email"  placeholder="Email*" >
              <mat-error>Email est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="tel"  placeholder="Téléphone*" >
              <mat-error>Téléphone est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="voyageFormGroup" [editable]="isEditable">
      <form [formGroup]="voyageFormGroup">
        <ng-template matStepLabel>Information du vol</ng-template>
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-select formControlName="typevol" placeholder="Type de vol*"  (selectionChange)="volTypeHandler($event)">
                        <ng-container >
                          <mat-option value="N">National</mat-option>
                          <mat-option value="I">International</mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error>Type de vol est obligatoire.</mat-error>
                </mat-form-field>
            </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Compagnie aérienne</mat-label>
              <mat-select formControlName="compagnie" placeholder="Compagnie aérienne" required>
                <ng-container >
                  <mat-option value="AF">Air France</mat-option>
                  <mat-option value="CA">CAA</mat-option>
                  <mat-option value="CO">Congo Airways</mat-option>
                  <mat-option value="EA">Ethiopian Airways</mat-option>
                  <mat-option value="KA">Kenya Airways</mat-option>
                  <mat-option value="RA">Rwandair</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Compagnie est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Num vol</mat-label>
              <input matInput formControlName="numvol" placeholder="Numero du vol" required>
              <mat-error>numvol est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
                <input matInput formControlName="datevol" [matDatepicker]="myDatevol" placeholder="Date de vol*" />
                <mat-datepicker-toggle matSuffix [for] = "myDatevol" placeholder="dd/mm/yyyy"></mat-datepicker-toggle>
                <mat-datepicker #myDatevol></mat-datepicker>
                <mat-error>Le date de vol est obligatoire.</mat-error>
            </mat-form-field>
         </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-select formControlName="paysdest" placeholder="Pays de destination" required>
                <ng-container >
                  <mat-option *ngFor="let country of countries"[value]="country?.code">{{country?.name}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error>Pays destination est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="villedest"  placeholder="Ville de destination" required>
              <mat-error>Ville destination est obligatoire.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-select formControlName="paystrans" placeholder="Pays de transit" >
                <ng-container >
                  <mat-option *ngFor="let country of countries"[value]="country?.code">{{country?.name}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput formControlName="villetrans"  placeholder="Ville de transit" >
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="saisiePaiement" [editable]="isEditable">
      <form [formGroup]="saisiePaiement">
        <ng-template matStepLabel>Information sur le paiement </ng-template>
        <!-- <article>
          <h2><span>Sélectionnez un type de vol :</span></h2>
          <div *ngFor="let vol of vols">
          <input type="radio" name="typevol"  value="{{vol}}" (change)="volChangedHandler($event)">{{vol}}
          </div>
          </article> -->
        <p>{{pselectedVol != ''  ? 'Le montant de Gopass pour le ' : ''}} {{pselectedVol != ''  ? pselectedVol + ' est de ': ''}}{{pselectedPrix != ''  ? pselectedPrix  : ''}}{{pselectedPrix != ''  ? '$' : ''}}</p>
        <article class="card">
          <div class="card-body p-5">
          
          <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
              <i class="fa fa-credit-card"></i> Carte de credit </a></li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
              <i class="fa fa-paypal"></i>  Paypal</a></li> -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                      <i class="fa fa-mobile" ></i>&nbsp;<i class="fa fa-money"></i>  Mobile money</a></li>
          </ul>
          
          <div class="tab-content">
          <div class="tab-pane fade show active" id="nav-tab-card">
          <!--	<p class="alert alert-success">Some text success or error</p> -->
            <form role="form">
            <div class="form-group">
              <label for="username">Nom complet (sur la carte)</label>
              <input type="text" class="form-control" name="username" placeholder="" required="">
            </div> <!-- form-group.// -->
          
            <div class="form-group">
              <label for="cardNumber">Numero de carte</label>
              <div class="input-group">
                <input type="text" class="form-control" name="cardNumber" placeholder="">
                <div class="input-group-append">
                  <span class="input-group-text text-muted">
                    <i class="fa fa-cc-visa"></i>   <i class="fa fa-cc-amex"></i>   
                    <i class="fa fa-cc-mastercard"></i> 
                  </span>
                </div>
              </div>
            </div> <!-- form-group.// -->
          
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label><span class="hidden-xs">Expiration</span> </label>
                      <div class="input-group">
                        <input type="number" class="form-control" placeholder="MM" name="">
                          <input type="number" class="form-control" placeholder="YY" name="">
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                        <input type="number" class="form-control" required="">
                    </div> <!-- form-group.// -->
                </div>
            </div> <!-- row.// -->
            <!-- <p><strong>Note:</strong> un email de Le PDF du reçu de paiement vous sera envoyé par
              mail et le numéro du reçu pas SMS. </p> -->
            <button class="subscribe btn btn-primary btn-block" type="button"> Confirmez  </button>
            </form>
          </div> <!-- tab-pane.// -->
          <!-- <div class="tab-pane fade" id="nav-tab-paypal">
          <p>Paypal est le moyen le plus simple de payer en ligne</p>
          <p>
          <button type="button" class="btn btn-primary"> <i class="fa fa-paypal"></i> Connectez-vous </button>
          </p>
          <p><strong>Note:</strong> un email de Le PDF du reçu de paiement vous sera envoyé par
            mail et le numéro du reçu pas SMS. </p>
          </div> -->
          <div class="tab-pane fade" id="nav-tab-bank">
          <p>Detail de votre transaction</p>
          <dl class="param">
            <dt>Type de mobile money  </dt>
            <dd> <div class="form-group">
              <!-- <label for="exampleFormControlSelect1">Example select</label> -->
              <select class="form-control">
                <option>M-pesa</option>
                <option>Orange money</option>
                <option>Airtel money</option>
              </select>
            </div></dd>
          </dl>
          <dl class="param">
            <dt>Numéro de téléphone </dt>
            <dd> <input type="number" class="form-control" required=""></dd>
          </dl>
          <dl class="param">
            <dt>Code secret </dt>
            <dd> <input type="number" class="form-control" required=""></dd>
          </dl>
          <!-- <p><strong>Note:</strong> un email de Le PDF du reçu de paiement vous sera envoyé par
            mail et le numéro du reçu pas SMS. </p> -->
          </div> <!-- tab-pane.// -->
          </div> <!-- tab-content .// -->
          
          </div> <!-- card-body.// -->
          </article> <!-- card.// -->
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <!-- <button mat-button matStepperNext>Suivant</button> -->
          <!-- <button mat-button >Payer</button> -->
          <button mat-button >Confirmer</button>
          <!-- <button mat-button >Annuler</button> -->
        </div>
      </form>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Finalisation</ng-template>
      <p>Vous avez fini, valider.</p>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Reinitialiser</button>
      </div>
    </mat-step> -->
  </mat-horizontal-stepper>


