  <!-- header-section start -->
  <div class="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-4 hidden-sm col-sm-12">
                  <div class="call-info">
                      <p class="call-text">Une question ? Appelez-nous au :<strong>00243817049521</strong></p>
                  </div>
              </div>
              <div class="col-md-8 hidden-sm hidden-xs">
                  <div class="social">
                      
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-wrapper">
      <div class="header">
          <div class="container" >
              <div class="row">
                  <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                      <a [routerLink]="['/accueil']"><img src="../../assets/images/logopass.png" alt="GoPass"></a>
                  </div>
                  <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                      <div class="navigation">
                          <div id="navigation">
                              <ul>
                                  <li class="active"><a [routerLink]="['/accueil']"  (click)="scrollToElement(target)">Accueil</a></li>
                                  <li><a  routerLink ="saisiepaiement"  (click)="scrollToElement(target)">Saisie-paiement</a> </li>
                                  <li ><a [routerLink]="['/compte']" (click)="scrollToElement(target)">Compte</a>
                                  </li>
                                  <li><a routerLink="temoin" (click)="scrollToElement(target)">Temoignages</a>
                                  <li><a routerLink="contact" (click)="scrollToElement(target)">Contact</a> </li>
                                  <li>
                                    <!-- <mat-form-field>
                                        <mat-select [(value)]="selected" placeholder="Langue">
                                          <mat-option value="french">French</mat-option>
                                          <mat-option value="english">English</mat-option>
                                          <mat-option value="lingala">Lingala</mat-option>
                                        </mat-select>
                                      </mat-form-field> -->
                                      <select style="margin-top: 11px;">
                                          <option value="french">Français</option>
                                          <option value="english">Anglais</option>
                                          <option value="lingala">Lingala</option>
                                        </select>
                                </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- header-section close -->
  <!-- hero-section start -->
  <div class="hero-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                  <div class="hero-section-caption pinside40">
                      <h1 class="hero-title">Achetez votre GoPass et voyager librement</h1>
                      <a [routerLink]="['saisiepaiement']" (click)="scrollToElement(target)" class="btn btn-primary ">Saisie-paiement</a> </div>
              </div>
          </div>
      </div>
  </div>

  <div class="space-medium" #target>
    <!-- <div class="container"> -->
      <router-outlet></router-outlet>
    <!-- </div> -->
  <!-- footer start -->
  </div>
  <div class="footer">
      <div class="container">
          <div class="row">
              <!-- footer-about-start -->
              <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="footer-widget">
                      <h3 class="footer-title ">A propos de nous</h3>
                      <p>L'application GoPassOnline vous facilite la tâche en achetant en ligne votre Gopass et eviter la file d'attente à l'aéroport!</p>
                      <a [routerLink]="['/accueil']" class="footer-link">En savoir plus sur nous </a></div>
              </div>
              <!-- footer-about-close -->
              <!-- footer-location-start -->
              <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <div class="footer-widget">
                      <h3 class="footer-title">Nos locaux</h3>
                      <ul class="arrow arrow-chevron-circle-right">
                          <li><a href="#">Aeroport de Ndjili</a></li>
                          <li><a href="#">Gombe</a></li>
                          <li><a href="#">Victoire</a></li>
                          <li><a href="#">Masine</a></li>
                          <li><a href="#">Kingasani</a></li>
                      </ul>
                  </div>
              </div>
              <!-- footer-location-close -->
              <!-- footer-contact-start -->
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                  <div class="footer-widget">
                      <h3 class="footer-title">Contact Info</h3>
                      <div class="contact-info">
                          <ul>
                              <li>2867 avenue du livre Kinshasa Gombe</li>
                              <li>0024381010203045 </li>
                              <li>info@rva.cd.com</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- footer-contact-close -->
              <!-- footer-social-start -->
              <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 ">
                  <div class="footer-widget">
                      <h3 class="footer-title">Suivez-nous sur :</h3>
                      <div class="footer-social">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <!-- footer-social-close -->
          </div>
      </div>
  </div>
  <!-- tiny-footer-start -->
  <div class="tiny-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12">GopassOnline.cd</div>
          </div>
      </div>
      <!-- tiny-footer-start -->
  </div>